/* ---------------

BASE FORUM

---------------- */

body {
  background-color: var(--background);
  background-image: url("https://i.ibb.co/7NpNjqLc/wallppoct25light.png");
  background-attachment: fixed;
  color: black;
}

/* ---------------

VARIABLES

---------------- */

:root {
    --background: #dfd5d6;
    --black: rgb(235 223 227);
    --blackt: rgb(228 219 222 / 75%);
    --blacktt: rgb(235 224 227 / 50%);
    --color1: rgb(74 46 45);
    --color1tt: rgb(98 66 62 / 86%);
    --color1tt1: rgb(88 56 60 / 71%);
    --color1ttb: rgb(54 46 47 / 63%);
    --color2: rgb(85 53 31);
    --color2tt: rgb(47 20 12 / 68%);
    --color3: rgb(151 130 130);
    --color-hd: linear-gradient(to bottom, #391a0f, #978282);
    --transparent: rgb(255 255 255 / 20%);
    --white: #000000;
    --gradient: linear-gradient(135deg, rgb(39 24 14) 0%, rgb(91 66 39) 50%, rgb(39 12 12) 100%);
    --gradientrond1: radial-gradient(circle, rgb(98 83 83) 0%, rgb(210 192 163) 37%, rgb(125 117 117) 100%);
    --gradientrond2: radial-gradient(circle, rgb(40 48 12) 0%, rgb(93 95 51) 33%, rgb(27 36 14) 66%);
    --gradientligne1: linear-gradient(35deg, rgb(148 160 135) 0%, rgb(113 96 78) 47%, rgb(96 105 95) 100%);
    --gradientligne2: linear-gradient(215deg, rgb(112 98 98) 0%, rgb(61 81 32) 33%, rgb(112 84 67) 66%);
    --groupemiella: #E655A7;
    --groupesashanni: #55E6DF;
    --groupewaldi: #E68355;
    --groupemalana: #7255E6;
    --groupestellara: #55A2E6;
    --cursivefont: "MonteCarlo", cursive;
    --seriffont: "Yeseva One", serif;
    --sansseriffont: "Staatliches", sans-serif;
    --minifont: "Carrois Gothic SC", sans-serif;
}


.backgroundgradient {
  background: var(--blacktt);
  /*background: linear-gradient(311deg, rgb(5 16 46 / 50%) 0%, rgb(97 121 148 / 50%) 25%, rgb(77 94 139 / 50%) 50%, rgb(97 121 148 / 50%) 75%, rgb(5 16 46 / 50%) 100%);*/
  color: var(--color1);
}

.backgroundgradient2 {
  background: var(--blacktt);
  /*background: linear-gradient(311deg, rgb(5 16 46 / 50%) 0%, rgb(97 121 148 / 50%) 25%, rgb(77 94 139 / 50%) 50%, rgb(97 121 148 / 50%) 75%, rgb(5 16 46 / 50%) 100%);*/
  padding-bottom: 10px;
  backdrop-filter: blur(10px);
  opacity: 50%;
  color: var(--color1);
}


/*--------------------------

OBJECTS

--------------------- */

.sceditor-container iframe,
.sceditor-container textarea {
  color: var(--white) !important;
}

div.sceditor-group {
  background-color: var(--black) !important;
}

input, input.liteoption {
	background: var(--background)!important;
	color: var(--white);
}

.postbody img[longdesc] {
  width: 20px;
  height: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

#sceditor_smilies img {
  max-width: 25px;
  max-height: 25px;
}

textarea {
	color: var(--white);
}

/* ---------------

SPECS TEXT

---------------- */

.postbody {
  color: var(--white);
}

gen, .genmed, .gensmall {
    color: var(--white)!important;
}

hr {
  background-color: var(--color2);
  /* width: 80%; */
  height: 2px;
  border: none;
}




/* ---------------

DIALOGUES PERSO

---------------- */

milo {
  color: #00ccff;
  font-weight: bold;

}

gio {
  color: #990000;
  font-weight: bold;

}

walter {
  color: #999900;
  font-weight: bold;
  font-style: italic;
}

mal {
  color: chocolate;
  font-weight: bold;
  font-style: italic;
}

ella {
  color: #ff3366;
}

sasha {
  color: #ff97ed;
  font-weight: bold;
}

heidi {
  color: #ff9999;
}

jana {
  color: #9999cc;
  font-weight: bold;
}

barbie {
  color: #F15BA8;
  font-weight: bold;
  font-style: italic;
}

stellan {
  color: #4c89e7;
  font-weight: bold;
}


/* ---------------

SWITCHEROO

---------------- */

:root {
    --color-text: #714f31;
    --color-bg: none;
    --color-delete: #d1c7ca;
    --color-tooltip: #3b1111;
    --color-squircle: #2f140c;
    --color-accent: #c7b0a0;
    --color-button: #e6dde0;
    --color-pill: #aba2a5;
    --gap-size: 16px;
    --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
    --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}


/* ---------------

BASE FORUM

---------------- */


* html {
  scrollbar-face-color: #b18ede;
  scrollbar-highlight-color: #;
  scrollbar-shadow-color: #;
  scrollbar-3dlight-color: #;
  scrollbar-arrow-color: #;
  scrollbar-track-color: #;
  scrollbar-darkshadow-color: #;
}

*+html {
  scrollbar-face-color: #b18ede;
  scrollbar-highlight-color: #;
  scrollbar-shadow-color: #;
  scrollbar-3dlight-color: #;
  scrollbar-arrow-color: #;
  scrollbar-track-color: #;
  scrollbar-darkshadow-color: #;
}

#sceditor_smilies {
  background-color: var(--background);
}
}

#sce_smilies_body {

  /*background:none;
	*/
  background-color: var(--background);
  background-image: none;
  min-width: 1px !important;
}

.sceditor-container iframe,
.sceditor-container textarea {
  background-color: transparent !important;
}

.sceditor-container {
  background-color: var(--background) !important;
}

.sceditor-toolbar {
  background-color: var(--background) !important;
}

/* Links */

/* a:link,a:active,a:visited {
	 color : #0f0f0f;
	 }
 */
a:link {
  color: #0f0f0f;
}

a:visited {
  color: #0f0f0f;
}

a:active {
  color: #0f0f0f
}

a:hover {
  text-decoration: none !important;
  color: #0f0f0f;
}

hr {
  height: 0;
  border: solid var(--color3) 0;
  border-top-width: 1px;
}

td.row1,
td.row3.over:hover {
  background-color: var(--background);
  color: black;
}

td.row2,
td.row1.over:hover {
  background-color: var(--background);
  color: black;
}

td.row3 {
  background-color: var(--background);
  color: black;
}

td.rowpic {
  background-color: #;
  background-image: url("https://2img.net/i/fa/empty.gif");
  css
}
