/* ---------------

BASE FORUM

---------------- */

body {
  background-color: var(--background);
  background-image: url("https://i.ibb.co/MxP5F5WX/cdt-august-1.png");
  background-attachment: fixed;
  color: black;
}

/* ---------------

VARIABLES

---------------- */

:root {
--background: #ffffff;
    --black: rgb(204 239 255);
    --blackt: rgb(204 227 255 / 75%);
    --blacktt: rgb(208 225 246 / 74%);
    --color1: rgb(223 81 119);
    --color1tt: rgb(223 81 119 / 75%);
    --color1tt1: rgb(223 81 119 / 50%);
    --color1ttb: rgb(95 77 189 / 42%);
    --color2: rgb(235 176 234);
    --color2tt: rgb(220 164 218 / 75%);
    --color3: rgb(253 102 71);
    --color-hd: linear-gradient(to bottom, #3c2630, #b63a50);
    --transparent: rgb(255 255 255 / 20%);
    --white: #000000;
    --gradient: linear-gradient(135deg, rgb(103 92 203) 0%, rgb(230 173 234) 50%, rgb(160 131 225) 100%);
    --gradientrond1: radial-gradient(circle, rgb(79 49 76) 0%, rgb(230 173 234) 37%, rgb(103 92 203) 100%);
    --gradientrond2: radial-gradient(circle, rgb(250 72 59) 0%, rgb(245 109 146) 33%, rgb(181 76 136) 66%);
    --gradientligne1: linear-gradient(35deg, rgb(255 131 60) 0%, rgb(227 61 74) 47%, rgb(255 189 109) 100%);
    --gradientligne2: linear-gradient(215deg, rgb(89 65 137) 0%, rgb(230 193 241) 33%, rgb(155 124 216) 66%);
    --groupemiella: #E655A7;
    --groupesashanni: #55E6DF;
    --groupewaldi: #E68355;
    --groupemalana: #7255E6;
    --groupestellara: #55A2E6;
    --cursivefont: "MonteCarlo", cursive;
    --seriffont: "Yeseva One", serif;
    --sansseriffont: "Staatliches", sans-serif;
    --minifont: "Carrois Gothic SC", sans-serif;
}


.backgroundgradient {
  background: var(--blacktt);
  /*background: linear-gradient(311deg, rgb(5 16 46 / 50%) 0%, rgb(97 121 148 / 50%) 25%, rgb(77 94 139 / 50%) 50%, rgb(97 121 148 / 50%) 75%, rgb(5 16 46 / 50%) 100%);*/
  color: var(--color1);
}

.backgroundgradient2 {
  background: var(--blacktt);
  /*background: linear-gradient(311deg, rgb(5 16 46 / 50%) 0%, rgb(97 121 148 / 50%) 25%, rgb(77 94 139 / 50%) 50%, rgb(97 121 148 / 50%) 75%, rgb(5 16 46 / 50%) 100%);*/
  padding-bottom: 10px;
  backdrop-filter: blur(10px);
  opacity: 50%;
  color: var(--color1);
}


/*--------------------------

OBJECTS

--------------------- */

.sceditor-container iframe,
.sceditor-container textarea {
  color: var(--white) !important;
}

div.sceditor-group {
  background-color: var(--black) !important;
}

input, input.liteoption {
	background: var(--background)!important;
	color: var(--white);
}

.postbody img[longdesc] {
  width: 20px;
  height: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

#sceditor_smilies img {
  max-width: 25px;
  max-height: 25px;
}

textarea {
	color: var(--white);
}

/* ---------------

SPECS TEXT

---------------- */

.postbody {
  color: var(--white);
}

gen, .genmed, .gensmall {
    color: var(--white)!important;
}

hr {
  background-color: var(--color2);
  /* width: 80%; */
  height: 2px;
  border: none;
}




/* ---------------

DIALOGUES PERSO

---------------- */

milo {
  color: #00ccff;
  font-weight: bold;

}

gio {
  color: #990000;
  font-weight: bold;

}

walter {
  color: #999900;
  font-weight: bold;
  font-style: italic;
}

mal {
  color: chocolate;
  font-weight: bold;
  font-style: italic;
}

ella {
  color: #ff3366;
}

sasha {
  color: #ff97ed;
  font-weight: bold;
}

heidi {
  color: #ff9999;
}

jana {
  color: #9999cc;
  font-weight: bold;
}

barbie {
  color: #F15BA8;
  font-weight: bold;
  font-style: italic;
}

stellan {
  color: #4c89e7;
  font-weight: bold;
}


/* ---------------

SWITCHEROO

---------------- */

:root {
   --color-text: #314471;
    --color-bg: none;
    --color-delete: #d8bfc6;
    --color-tooltip: #7596ba;
    --color-squircle: #e8c6cf;
    --color-accent: #a0aec7;
    --color-button: #b9b0c8;
    --color-pill: #edc3ef;
    --gap-size: 16px;
    --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
    --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}


/* ---------------

BASE FORUM

---------------- */


* html {
  scrollbar-face-color: #b18ede;
  scrollbar-highlight-color: #;
  scrollbar-shadow-color: #;
  scrollbar-3dlight-color: #;
  scrollbar-arrow-color: #;
  scrollbar-track-color: #;
  scrollbar-darkshadow-color: #;
}

*+html {
  scrollbar-face-color: #b18ede;
  scrollbar-highlight-color: #;
  scrollbar-shadow-color: #;
  scrollbar-3dlight-color: #;
  scrollbar-arrow-color: #;
  scrollbar-track-color: #;
  scrollbar-darkshadow-color: #;
}

#sceditor_smilies {
  background-color: var(--background);
}
}

#sce_smilies_body {

  /*background:none;
	*/
  background-color: var(--background);
  background-image: none;
  min-width: 1px !important;
}

.sceditor-container iframe,
.sceditor-container textarea {
  background-color: transparent !important;
}

.sceditor-container {
  background-color: var(--background) !important;
}

.sceditor-toolbar {
  background-color: var(--background) !important;
}

/* Links */

/* a:link,a:active,a:visited {
	 color : #0f0f0f;
	 }
 */
a:link {
  color: #0f0f0f;
}

a:visited {
  color: #0f0f0f;
}

a:active {
  color: #0f0f0f
}

a:hover {
  text-decoration: none !important;
  color: #0f0f0f;
}

hr {
  height: 0;
  border: solid var(--color3) 0;
  border-top-width: 1px;
}

td.row1,
td.row3.over:hover {
  background-color: var(--background);
  color: black;
}

td.row2,
td.row1.over:hover {
  background-color: var(--background);
  color: black;
}

td.row3 {
  background-color: var(--background);
  color: black;
}

td.rowpic {
  background-color: #;
  background-image: url("https://2img.net/i/fa/empty.gif");
  css
}
