/* ---------------

VARIABLES

---------------- */ 

:root {
    --black: rgb(255 255 255);
    --blackt: rgb(255 255 255 / 75%);
    --blacktt: rgb(255 255 255 / 50%);
    --color1: rgb(79 192 226);
    --color1tt: rgb(149 206 226 / 75%);
    --color1tt1: rgb(171 212 230 / 50%);
    --color1ttb: rgb(199 219 230 / 25%);
    --color2: rgb(246 149 112);
    --color2tt: rgb(230 139 104 / 75%);
    --color3: rgb(65 189 217);
    --color-hd: linear-gradient(to bottom, #17222d, #05aad5);
    --transparent: rgb(255 255 255 / 20%);
    --white: #ffffff;
    --gradient: linear-gradient(135deg, rgb(0 66 91) 0%, rgb(42 189 218) 50%, rgb(2 62 83) 100%);
    --gradientrond2: radial-gradient(circle, rgb(3 66 91) 0%, rgb(58 173 191) 37%, rgb(4 56 77) 100%);
    --gradientrond1: radial-gradient(circle, rgb(183 100 32) 0%, rgb(252 173 129) 33%, rgb(169 93 58) 66%);
    --gradientligne1: linear-gradient(35deg, rgb(150 197 216) 0%, rgb(8 103 132) 47%, rgb(111 229 252) 100%);
    --gradientligne2: linear-gradient(215deg, rgb(255 224 202) 0%, rgb(234 138 85) 33%, rgb(249 203 185) 66%);
    --groupemiella: #E655A7;
    --groupesashanni: #55E6DF;
    --groupewaldi: #E68355;
    --groupemalana: #7255E6;
    --groupestellara: #55A2E6;
    --cursivefont: "MonteCarlo", cursive;
    --seriffont: "Yeseva One", serif;
    --sansseriffont: "Staatliches", sans-serif;
   --minifont: "Carrois Gothic SC", sans-serif;
}


