/* ---------------

VARIABLES

---------------- */ 

:root {
    --black: rgb(255 255 255);
    --blackt: rgb(255 255 255 / 75%);
    --blacktt: rgb(255 255 255 / 50%);
    --color1: rgb(79 192 226);
    --color1tt: rgb(149 206 226 / 75%);
    --color1tt1: rgb(171 212 230 / 50%);
    --color1ttb: rgb(199 219 230 / 25%);
    --color2: rgb(246 149 112);
    --color2tt: rgb(230 139 104 / 75%);
    --color3: rgb(65 189 217);
    --color-hd: linear-gradient(to bottom, #17222d, #05aad5);
    --transparent: rgb(255 255 255 / 20%);
    --white: #000000;
    --gradient: linear-gradient(135deg, rgb(0 66 91) 0%, rgb(42 189 218) 50%, rgb(2 62 83) 100%);
    --gradientrond2: radial-gradient(circle, rgb(3 66 91) 0%, rgb(58 173 191) 37%, rgb(4 56 77) 100%);
    --gradientrond1: radial-gradient(circle, rgb(183 100 32) 0%, rgb(252 173 129) 33%, rgb(169 93 58) 66%);
    --gradientligne1: linear-gradient(35deg, rgb(150 197 216) 0%, rgb(8 103 132) 47%, rgb(111 229 252) 100%);
    --gradientligne2: linear-gradient(215deg, rgb(255 224 202) 0%, rgb(234 138 85) 33%, rgb(249 203 185) 66%);
    --groupemiella: #E655A7;
    --groupesashanni: #55E6DF;
    --groupewaldi: #E68355;
    --groupemalana: #7255E6;
    --groupestellara: #55A2E6;
    --cursivefont: "MonteCarlo", cursive;
    --seriffont: "Yeseva One", serif;
    --sansseriffont: "Staatliches", sans-serif;
   --minifont: "Carrois Gothic SC", sans-serif;
}




/* ---------------

BASE FORUM

---------------- */ 

body {
	background-color: #ffffff;
	background-image: url("https://2img.net/i.ibb.co/r2zVG91m/photo-1707760436661-7cbadd6b9092.jpg");
	background-attachment: fixed;
	}
* html {
	scrollbar-face-color: #b18ede;
	scrollbar-highlight-color: #;
	scrollbar-shadow-color: #;
	scrollbar-3dlight-color: #;
	scrollbar-arrow-color: #;
	scrollbar-track-color: #;
	scrollbar-darkshadow-color: #;
	}
*+ html {
	scrollbar-face-color: #b18ede;
	scrollbar-highlight-color: #;
	scrollbar-shadow-color: #;
	scrollbar-3dlight-color: #;
	scrollbar-arrow-color: #;
	scrollbar-track-color: #;
	scrollbar-darkshadow-color: #;
	}
#sceditor_smilies{
	background-color: #ffffff;
	 }
}
#sce_smilies_body {
	
/*background:none;
	*/
background-color: #ffffff;
	background-image: none;
	min-width: 1px !important;
	}
.sceditor-container iframe, .sceditor-container textarea {
	background-color: transparent !important;
	}
.sceditor-container{
	background-color: #ffffff !important;
	}
.sceditor-toolbar{
	background-color: #ffffff !important;
	}
th,td,p {
	 font-family: Verdana }
a img {
	 border: none;
	 }

/* Links */

/* a:link,a:active,a:visited {
	 color : #0f0f0f;
	 }
 */
a:link{
	 color: #0f0f0f;
	 }
a:visited{
	 color: #0f0f0f;
	 }
a:active{
	 color: #0f0f0f }
a:hover{
	 text-decoration: underline !important;
	 color : #0f0f0f;
	 }
hr{
	 height: 0;
	 border: solid #ffffff 0;
	 border-top-width: 1px;
	}
.bodyline{
	 background-color: #;
	 border: 1px # solid;
	}
.bodylinewidth {
	width:900ppx}
.forumline{
	 background-color: #;
	 border: 2px # solid;
	 }
td.row1,td.row3.over:hover {
	 background-color: #ffffff;
	 }
td.row2,td.row1.over:hover {
	 background-color: #ffffff;
	 }
td.row3{
	 background-color: #ffffff;
	 }
td.rowpic {
	background-color: #;
	background-image: url("https://2img.net/i/fa/empty.gif");
	css}
th {
	color: #0f0f0f;
	font-size: 11px;
	font-weight : bold;
	background-color: #;
	height: 25px;
	background-image: url("https://2img.net/i/fa/empty.gif");
	padding: 2px 3px;
	}
td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
	background-image: url("https://2img.net/i/fa/empty.gif");
	background-color:#;
	 border: #;
	 border-style: solid;
	 height: 28px;
	}
td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0;
	}
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold;
	 border: #ffffff;
	 border-style: solid;
	 
/*height: 20px;
	*/
}
td.row3Right,td.spaceRow {
	background-color: #ffffff;
	 border: #;
	 border-style: solid;
	}
td.pourcentback {
	 background-color : #ffffff;
	 }
th.thHead,td.catHead {
	 font-size: 12px;
	 border-width: 1px 1px 0 1px;
	 }
th.thSides,td.catSides,td.spaceRow {
	 border-width: 0 1px;
	 }
th.thRight,td.catRight,td.row3Right {
	 border-width: 0 1px 0 0;
	 }
th.thLeft,td.catLeft {
	 border-width: 0 0 0 1px;
	 }
th.thBottom,td.catBottom {
	 border-width: 0 1px 1px 1px;
	 }
th.thTop {
	 border-width: 1px 0 0;
	 }
th.thCornerL {
	 border-width: 1px 0 0 1px;
	 }
th.thCornerR {
	 border-width: 1px 1px 0 0;
	 }
.maintitle, .maintitle h1{
	font-weight: bold;
	 font-size: 22px;
	 font-family: DM Serif Display,Verdana;
	text-decoration: none;
	 line-height : 120%;
	 color : #0f0f0f;
	}
.h_member{
	font-size: 12px;
	color: inherit;
	}
.forumline .row1,.forumline .row2,.forumline .row3,.forumline .row3Right {
	padding: 2px 3px;
	}
.forumline td.pagination {
	padding:0;
	 }
.maintitle h1 {
	margin: 0;
	 padding: 0;
	 display: inline;
	 }
.gen {
	 font-size : 12px;
	 }
.genmed {
	 font-size : 11px;
	 }
.gensmall {
	 font-size : 12px;
	 }
.gen,.genmed,.gensmall {
	 color : #0f0f0f;
	 }
a.gen,a.genmed,a.gensmall {
	 color: #0f0f0f;
	 text-decoration: none;
	 }
a.gen:hover,a.genmed:hover,a.gensmall:hover{
	 color: #0f0f0f;
	 text-decoration: underline;
	 }
.mainmenu{
	 font-size : 11px;
	 color : #0f0f0f }
a.mainmenu{
	 text-decoration: none;
	 color : #0f0f0f;
	}
a.mainmenu:hover{
	 text-decoration: underline;
	 color : #0f0f0f;
	 }
.cattitle{
	 font-weight: bold;
	 font-size: 12px ;
	 letter-spacing: 1px;
	 color : #0f0f0f}
h1.cattitle {
	margin:0;
	 padding: 0;
	 display:inline;
	}
a.cattitle{
	 text-decoration: none;
	 color : #0f0f0f;
	 }
a.cattitle:hover{
	 text-decoration: underline;
	 }
.forumlink{
	 font-weight: bold;
	 font-size: 12px;
	 color : #0f0f0f;
	 }
a.forumlink {
	 text-decoration: none;
	 color : #0f0f0f;
	 }
a.forumlink:link {
	 color : #0f0f0f;
	 }
a.forumlink:visited {
	 color : #0f0f0f;
	 }
a.forumlink:active {
	 color : #0f0f0f;
	 }
a.forumlink:hover{
	 text-decoration: underline;
	 color : #0f0f0f;
	 }
.nav{
	 font-weight: bold;
	 font-size: 11px;
	 color : #0f0f0f;
	 }
a.nav{
	 text-decoration: none;
	 color : #0f0f0f;
	 }
a.nav:hover{
	 text-decoration: underline;
	 }
.topictitle,h1,h2{
	 font-weight: bold;
	 font-size: 11px;
	 color : #0f0f0f;
	 }
.topictitle{
	word-break: break-word;
	}
div.topictitle {
	display: inline;
	}
h2.topic-title {
	display: inline;
	 margin: 0;
	 padding: 0;
	}
a.topictitle:link{
	 text-decoration: none;
	 color : #0f0f0f;
	}
a.topictitle:visited{
	 text-decoration: none;
	 color : #0f0f0f;
	 }
a.topictitle:active{
	 text-decoration: none;
	 color : #0f0f0f;
	 }
a.topictitle:hover{
	 text-decoration: underline;
	 color : #0f0f0f;
	 }
.name{
	 font-size : 11px;
	 color : #0f0f0f;
	}
.name a{
	 text-decoration:none;
	 }
.postdetails{
	 font-size : 12px;
	 color : #0f0f0f;
	 }
.postbody{
	 font-size : 12px;
	 line-height: 18px}
a.postlink:link{
	 text-decoration: none;
	 color : #0f0f0f }
a.postlink:visited{
	 text-decoration: none;
	 color : #0f0f0f;
	 }
a.postlink:active{
	 text-decoration: none;
	 color : #0f0f0f;
	 }
a.postlink:hover{
	 text-decoration: none;
	 color : #0f0f0f}
td.curr_privmsg{
	opacity: 0.50;
	border-top: 2px # solid;
	border-bottom: 2px # solid;
	}
